
.h1Style {
    color:#ea650d
}



.classPosition {
    margin-top:  50px;
}

.btn-colour-1 {
    color: white;
    background-color: #ea650d;
    font-weight: bold;
    padding: 40px 60px;
    filter: drop-shadow(0.15rem 0.15rem 0.15rem rgb(48, 47, 47));

}

.btn-colour-2 {
    color: black;
    background-color: #F1EDEB;
    font-weight: bold;
    padding: 20px 25px;
    filter: drop-shadow(0.15rem 0.15rem 0.15rem rgb(48, 47, 47));

}