body {
   padding-bottom: 60px;
}

header .row:last-child {
   margin-bottom: 15px;
}

.note-group textarea {
   border: solid 2px var(--nnOrange);
   border-radius: 15px;
}

.note-group label {
   font-size: 1.2em;
   color: var(--nnOrange);
   margin-left: 15px;
}

.btn-showNote {
   background-color: var(--nnOrange);
   border: solid 1px var(--nnOrange);
   color: white;
   border-radius: 15px;
   padding: 5px 15px;
   font-size: 1.2em;
}

.btn-showNote:hover {
   background-color: #fff;
   color: var(--nnOrange);
}

.loading-wrapper {
   height: calc(100vh - 60px);
   display: flex;
   justify-content: center;
   align-items: center;
}

.loading-wrapper span {
   border-width: 5px;
}

@media (max-width: 991px) {
   .btn-showNote {
      margin: 15px;
   }
}
