footer#app-footer {
   background: #f1edeb;
   padding: 5px;
}

footer#app-footer .button-container {
   display: inline-flex;
   width: 100%;
   justify-content: flex-end;
}

footer#app-footer button {
   width: 100%;
   max-width: 150px;
   height: 45px;
   color: var(--nnOrange);
   border: solid 1px var(--nnOrange);
   background: #fff;
}

footer#app-footer button:hover {
   color: var(--nnOrange);
   border: solid 1px var(--nnOrange);
   background: var(--nnOrange);
   color: #fff;
}

footer#app-footer .button-container button:first-child {
   margin-right: 10px;
}

footer#app-footer .button-container button:last-child {
   color: #fff;
   background: var(--nnOrange);
}

footer#app-footer .button-container button:last-child:hover {
   color: var(--nnOrange);
   background: #fff;
}

footer#app-footer #result-page-footer button:first-child {
   background: #fff;
   color: var(--nnOrange);
   border: solid 1px var(--nnOrange);
}

footer#app-footer #result-page-footer button:first-child:hover {
   background: var(--nnOrange);
   color: #fff;
}

@media (max-width: 767px) {
   footer#app-footer .button-container {
      justify-content: center;
   }
   button.btn.btn-light.footer-button.cancel-button {
      display: none;
   }
}

.print-container {
   max-height: 400px;
   overflow-y: scroll;
   width: fit-content;
   margin: auto;
   border: solid 1px;
}

/* Global   */
#print {
   font-size: 12px;
   padding: 20px;
   width: 447px;
   margin: auto;
}

#print h2 {
   text-align: center;
}

#print table {
   width: 90%;
   padding: 10px;
   margin: auto;
}

#print table tbody tr:nth-child(even) {
   background-color: #d6eeee;
}

#print table thead {
   background-color: #95e5e5;
}

/*  */
#print .assessment-information {
   margin-bottom: 15px;
}

#print .assessment-notes {
   margin-bottom: 15px;
}

#print .assessment-notes textarea {
   background-color: #fff;
   border-radius: 5px;
   height: fit-content;
}
