.flex_inline {
   display: inline-flex;
}

#breachassessmetcontainer .accordion-button {
   font-size: 0.8em;
   background: #f1edeb;
}

#breachassessmetcontainer .accordion-item {
   margin-bottom: 10px;
   border-top: solid;
   border: 1px solid rgba(0, 0, 0, 0.125);
   border-radius: 18px;
   overflow: hidden;
}

#breachassessmetcontainer .accordion-item.focus_dropdown_true {
   border: solid 2px var(--nnOrange);
}

#breachassessmetcontainer .accordion-button:not(.collapsed),
#breachassessmetcontainer .accordion-collapse:not(.show) + .accordion-button {
   color: #000;
   background-color: rgba(234, 101, 13, 0.25);
}

#breachassessmetcontainer .accordion-button:focus,
#breachassessmetcontainer .accordion-button:hover {
   box-shadow: none;
   background-color: rgba(234, 101, 13, 0.25);
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
   background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23EA650D'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

#breachassessmetcontainer .btn-outline-primary {
   color: var(--nnOrange);
   border-color: var(--nnOrange);
}

#breachassessmetcontainer .btn-check:checked + .btn-outline-primary,
#breachassessmetcontainer .btn-check:hover + .btn-outline-primary {
   color: #fff;
   background-color: var(--nnOrange);
   border-color: var(--nnOrange);
}

#breachassessmetcontainer .accordion-item .row {
   padding-bottom: 5px;
}

.bottom_lined {
   border-bottom: solid 1px #000;
}

/* Disable questions styling */
#breachassessmetcontainer .row.disable_question_false .question_number_wrap,
#breachassessmetcontainer .row.disable_question_false .question_wrap p,
#breachassessmetcontainer .row.disable_question_false label {
   opacity: 0.5;
}

#breachassessmetcontainer .row.is_answered_true .question_number_wrap,
#breachassessmetcontainer .row.is_answered_true .question_wrap p,
#breachassessmetcontainer .row.is_answered_true label {
   opacity: 1;
}

#breachassessmetcontainer .accordion-item .question_number_wrap {
   color: var(--nnOrange);
   margin-right: 5px;
}

#breachassessmetcontainer .accordion-item .question_wrap strong {
   display: block;
   font-size: calc(var(--appFontSize) + 0.3em);
}

#breachassessmetcontainer .accordion-item .question_wrap p {
   font-size: var(--appFontSize);
   font-weight: 600;
}

#breachassessmetcontainer .accordion-item .row > div,
#breachassessmetcontainer .row > div:first-child {
   display: flex;
   align-items: center;
}

@media (min-width: 768px) {
   #breachassessmetcontainer .accordion-item .row > div:last-child {
      align-items: end;
      justify-content: center;
   }
}

#breachassessmetcontainer .show_question .question_number_wrap,
#breachassessmetcontainer .show_question .question_wrap p,
#breachassessmetcontainer .show_question label {
   opacity: 1 !important;
}

/* Ease of indentification */
.eoi_container {
   display: flex;
   justify-content: space-evenly;
}

.eoi_container_item {
   display: flex;
   flex-direction: column;
   align-items: center;
}
