.h1Style {
    font-size: var(--h1fontSize);
    margin-top: 50px;
    color: #ea650d;
  }

  h2 {
    color: #ea650d;
  }

  .sidebar {
    margin: 0;
    padding-bottom: 80px;
    /* padding: 0; */
    width: 225px;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    background-color: #F1EDEB
  }

  .sidebar li {
    padding-left: 20px;
    }

  
  .sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
  }

  .sidebar a .sideHeader {
    font-weight: 600;
  }
  

  .sidebar a.active {
    color: #ea650d;
    
  }

.sidebar a.focus {
  color: #ea650d;

}

.sidebar .sideHeader {
  font-weight: bold;
}
  
  div.content {
    margin-left: 255px;
    padding: 1px 16px;
    min-height: fit-content;
    margin-right: 500px;
 
  }
  
 
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0; margin-right: 0;}
  }
  
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }