.h1Style {
    font-size: var(--h1fontSize);
    margin-top: 50px;
    color: #ea650d;
  }

  h2 {
    color: #ea650d;
  }

.sidebar {
    margin: 0;
    padding: 0;
    width: 225px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #F1EDEB;
  }

  .sidebar li {
    padding-left: 20px;
    
}
  
  .sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
  }
  

  .sidebar a.active {
    color: #ea650d;
    
  }

.sidebar a.focus {
  color: #ea650d;

}
  
  div.content {
    margin-left: 225px;
    padding: 1px 16px;
    height: 1000px;
    margin-right: 100px;
  }
  
 
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }