.h1Hist {
   text-align: center;
   color: #e64415;
   margin-top: 20px;
   margin-bottom: 25px;
}

.card {
   background: #f1edeb;
   border-radius: 10px;
   padding: 25px;
   filter: drop-shadow(0.15rem 0.15rem 0.15rem rgb(110, 107, 107));
   margin-bottom: 1em;
<<<<<<< HEAD
}

.card.border_LOW {
   border-color: #4A9C09;
}

.border_MEDIUM {
   border-color:#E9D418;
}

.border_HIGH {
   border-color:#FD9800
}

.border_CRITICAL {
   border-color:#FE0000
=======
   border: solid 2px;
}

.card.border_LOW {
   border-color: #4a9c09;
}

.border_MEDIUM {
   border-color: #e9d418;
}

.border_HIGH {
   border-color: #fd9800;
}

.border_CRITICAL {
   border-color: #fe0000;
}

.border_INSIGNIFICANT {
   border-color: #6966663b;
>>>>>>> development
}

.card-text {
   font-weight: bold;
}

.square {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   color: white;
   font-size: 28px;
   width: 100%;
   height: 100%;
   border-radius: 5px;
}

.assessmentCard button.btn {
   font-weight: bold;
   align-items: center;
   color: white;
   font-size: 28px;
   background-color: gray;
   height: 100%;
   width: 100%;
   border-radius: 5px;
}

.score_LOW {
<<<<<<< HEAD
	background-color: #4A9C09;
=======
   background-color: #4a9c09;
>>>>>>> development
   height: 2em;
}

.score_MEDIUM {
<<<<<<< HEAD
	background-color: #E9D418;
   height: 2em;
}
.score_HIGH {
	background-color: #FD9800;
   height: 2em;
}
.score_CRITICAL {
	background-color: #FE0000;
   height: 2em;
}
=======
   background-color: #e9d418;
   height: 2em;
}
.score_HIGH {
   background-color: #fd9800;
   height: 2em;
}
.score_CRITICAL {
   background-color: #fe0000;
   height: 2em;
}

.score_INSIGNIFICANT {
   background-color: #6966663b;
   height: 2em;
}

#dropdownMenuButton1 {
   background-color: #f1edeb;
}

.dropdown-toggle {
   color: black;
   border-color: #ced4da;
}

.btn-wrapper {
   text-align: center;
}

.btn-filter {
   background-color: #f1edeb;
   outline: 1px solid;
   width: 90%;
   padding: 3px;
}

.dropdown-item label {
   cursor: pointer;
   display: block;
}

.input-group {
   margin-bottom: 2em;
}

.input-group-text {
   background-color: #f1edeb;
}

.btn-search {
   color: white;
   background-color: gray;
}

.form-control {
   border-radius: 0px 4px 4px 0px;
}
>>>>>>> development
